<h1>welcome</h1>
<p>Find me in app/views/index/welcome.html.erb</p>

<%= form_tag do %>
<%= label_tag("this", "This is a text field =>") %>
<%= text_field_tag("this", "Something else") %>
<%= submit_tag("Submit") %>
<% end %>
